{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Stock Visualizer {% endblock %} </h1>
    <form method="post">

        <label for="stock">Stock: </label>
            <select name="stock" id="stock">
                {% for stock in symbol_list %}
                <option value="{{ stock }}">{{ stock }}</option>
                {% endfor %}
            </select>
        <br>

        <label for="chart">Chart Type: </label>
            <select name="chart" id="chart">
                {% for chart in chart_choice %}
                <option value="{{ chart }}">{{ chart }}</option>
                {% endfor %}
            </select>
        <br>

        <label for="time">Chart Type: </label>
            <select name="time" id="time">
                {% for time in time_choice %}
                <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
            </select>
        <br>

        <label for="start date">Start Date: </label>
        <input type="date" name="start_date"
                id="start date">     
        </select>

        <label for="end date">End Date: </label>
        <input type="date" name="end_date"
                id="end date">
        </select>
        <br>

        <button type="submit">Submit</button>
        
    </form>
    <section>
        <img src = "data:image/png;base64, {{ graph }}">
    </section>


{% endblock %}